
.error{
  color: #FF0000;
}

.ok{
  color: #008000;
}

.leaflet-top {
	z-index:99 !important;
}

.section_title {
	font-size : 24px;
	font-weight : normal;
}

#mapwrapper {
	float: left;
	position: relative;
}

#dash_map_wrapper {
	overflow: hidden;
	clear:both;
	margin-top: 15px;
}

#mymap {
	width: 100%;
	height: 600px;
	float: left;
	pointer-events: none;
}

#overviewInfo {
	float:left;
	margin-top: 44px;
}

#overlayregion {
	position: absolute;
    z-index:6;
    background:rgba(0,0,0,.75);
    color:white;
    padding:.5em .75em;
    font-size:1em;
    display: none;
}

#pcode_wrapper {
	display: none;
}

.general_info {
	background: #dcdcdc;
    padding: 15px 20px;
    display: inline-block;
    position: absolute;
    right: 50px;
    bottom: 50px;
    box-shadow: 0px 0px 5px;
}

.map_instruction {
	font-weight: bold;
	margin-bottom: 10px;
}

#region_name_wrapper {
	background: #fff;
}

#region_name {
	margin-bottom: 0px;
}

.general_info h5 {
	font-size: 18px;
    font-weight: normal;
    line-height: 2;
}

#viz_nav_wrapper {
	background: #F0F0F0;
	margin-top: 0px !important;
	z-index: 1;
}

#viz_nav {
	margin-bottom: -4px;
	text-align: center;
}

#viz_nav li {
	display: inline-block;
	margin-bottom: 0px;
	list-style-type: none;
	text-align:center;
}

#viz_nav li .fa, #viz_nav li .fa-stack {
	display: block;
	text-align: center;
}

#viz_nav li .fa-stack {
	margin: auto;
}

#viz_nav li a {
	text-decoration: none;
	color: #505050;
	float: left;
	padding: 10px 12px;
}

#viz_nav li a:hover {
	background: #fff;
}

.viz-section {
	min-height: 300px;
	margin-top: 15px;
	padding: 15px 0px;
}

.viz-section.even {
	background: #f2f2f2;
}

.normal_chart {
	width: 100%;
	height: 400px;
}

.chart_wrapper {
	margin-top: 50px !important;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 20px;
}

.chart_wrapper:last-child {
	border-bottom: 0px;
}

.chart_wrapper .data_resource {
	text-align: right;
}

.chart_wrapper .data_resource .button {
	margin-left: 10px;
}

.text_container {
	margin: 20px;
	text-align: center;
}

.text_container .label {
	font-size: 16px;
}

.text_container .value {
	font-size: 30px;
	margin-top: 15px;
}

.ts_chart, .only_st {
	display:none;
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 100;
  border-top: 0;
}

#back_to_map {
	text-align: right;
	margin-top: 8px;
	display: none;
}

#viz_nav_wrapper.sticky {
	top: 80px;
}

.admin-bar #viz_nav_wrapper.sticky {
	top: 119px;
}

#region_name_wrapper.sticky {
	top: 33px;
}

.admin-bar #region_name_wrapper.sticky {
	top: 69px;
}

.note-text {
	font-size: 13px;
	color: red;
}

#viz_nav_wrapper.sticky {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
}

/* Leaflet Search box */
#dash_search_box {
	border: 1px solid #C8C8C8;
	height: 26px;
	padding: 3px 0px;
}

#dash_search_box .search-input {
	width: 80%;
	border:0px;
}

#dash_search_box .search-button {
	float:right;
}

#dash_search_box .search-tooltip {
	width:100%;
	border: 0px 1px 1px 1px;
	background: #fff;
	border-color: #C8C8C8;
	z-index: 2;
}

#dash_search_box .search-tooltip .search-tip {
	background: transparent;
	margin: 0px;
	border-radius: 0px;
}

.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
	background-color: #C8C8C8 !important;
}

.leaflet-setview-control {
	background:#fff;
	color:#1978cf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	z-index:1000;
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	cursor: pointer;
	padding: 16px 20px;
	background-image: url('../images/myanmar.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.leaflet-setview-control::before {
	content: '\f041';
	font-family: FontAwesome;
    font-style: normal;
    font-size: 0px;
    color: #505050;
}

/* custom styles */
#hospital_healthcenter thead {
	display: none;
}

/* Temporty Paliment Seating Plan */
.seating_legend {
	margin-top: 25px;
}

.seating_legend .circle {
	background: #DFCFE6;
    width: 15px;
    height: 15px;
    float: left;
    border-radius: 999px;
    margin-right: 10px;
}

.single_legend {
	margin-bottom: 10px;
}

/* Google Visualization Table */
.google-visualization-table-th {
	background-image: none !important;
	padding: 8px !important;
	color: #fff;
}
.google-visualization-table-tr-even {
	background: #dcdcdc !important;
}

.google-visualization-table-table {
	border:0px;
}

.google-visualization-table-td {
	padding: 8px !important;
}

#adminstration_list {
	margin-top : 30px;
}

#adminstration_list li {
	text-align: center;
	height: 150px;	
	line-height: 2em;
}

.ministry_val {
	font-size: 16px;
	font-weight: bold;
}

.resource_link {
	margin-bottom: 15px;
	overflow: hidden;
}

.resource_download {
	float: right;
    padding: 10px;
    background: #d2d2d2;
}

.data_source_bar {
	overflow: hidden;
}

.data_source_btn {
	float: right;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 5px 10px;
}

.data_source_btn:hover {
	background: #2e2e2e;
	color: #fff;
}

.hide {
	display:none;
}

//Pcode Info tooltip
.pcode_info_wrapper {
	float:left;
	position: relative;
}

.pcode_info_text {
	width: 500px;
    float: left;
    position: absolute;
    top: -90px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 5px;
    left: 0;
}

.treemap_tooltip {
	background: #fff;
	color: #000;
	padding: 5px;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.show-tablet, .show-mobile {
	display:none;
}

/*Styling for Mobile */

@media(max-width: 1000px) {
	.show-desktop, .show-mobile {
		display: none;
	}
	.show-tablet {
		display: block;
	}
}

@media(max-width: 750px) {
	#viz_nav_wrapper.sticky {
		top: 77px;
	}

	#region_name_wrapper .four {
		width: 40%; 
	}

	#region_name_wrapper .ten {
		width: 55%;
	}

	#region_name_wrapper .two {
		width: 5%;
	}

	#region_name {
		font-size: 20px;
	}

	#back_to_map span.text {
		display:none;
	}
}

@media (max-width: 500px) {
	.show-tablet, .show-desktop {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	#content ul {
		margin-left: 0px !important;
	}

	#viz_nav li a .sec_title {
		display:none;
	}

	#viz_nav li a {
		padding: 10px 5px;
	}
}
